format = """
$os\
$directory\
$git_branch\
$git_status\
$fill\
$python\
$lua\
$nodejs\
$golang\
$haskell\
$rust\
$ruby\
$aws\
$docker_context\
$jobs\
$cmd_duration\
$line_break\
$character"""

add_newline = true
palette = "catppuccin_macchiato"

[os]
disabled = false
style = "fg:white"

[os.symbols]
Windows = "  "
Ubuntu = "󰕈  "
Macos = "󰀵  "
Linux = "󰌽 "
Arch = "󰣇  "

[directory]
style = "bold fg:dark_blue"
format = "[$path ]($style)"
truncation_length = 3
truncation_symbol = "…/"
truncate_to_repo = false
read_only = " 󰌾"

[git_branch]
style = 'fg:green'
symbol = ' '
format = '[on](white) [$symbol$branch ]($style)'

[git_status]
style = 'fg:red'
format = '([$all_status$ahead_behind]($style) )'

[git_commit]
tag_symbol = "  "

[fill]
symbol = " "

[jobs]
symbol = " "
style = "red"
number_threshold = 1
format = "[$symbol]($style)"

[cmd_duration]
min_time = 500
style = "fg:gray"
format = "[$duration]($style)"

[palettes.catppuccin_macchiato]
dark_blue='#61afef'
blue='#56b6c2'
red='#e06c75'
green='#98c379'
purple='#c678dd'
cyan='#56b6c2'
orange='#be5046'
yellow='#e5c07b'
gray='#828997'
white ='#abb2bf'
black='#2c323c'

[aws]
symbol = " "
style = "yellow"
# format = "[$symbol($profile )(\[$duration\] )]($style)"
format = '[$symbol($profile )[$duration] ]($style)'

[buf]
symbol = " "

[bun]
symbol = " "

[c]
symbol = " "

[cpp]
symbol = " "

[cmake]
symbol = " "

[conda]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[deno]
symbol = " "

[docker_context]
symbol = " "
style = "fg:#06969A"
format = "[$symbol]($style) $path"
detect_files = ["docker-compose.yml", "docker-compose.yaml", "Dockerfile"]
detect_extensions = ["Dockerfile"]

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fossil_branch]
symbol = " "

[gcloud]
symbol = "  "

[golang]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[lua]
format = "[$symbol($version )]($style)"
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[pixi]
symbol = "󰏗 "

[python]
style = "teal"
symbol = " "
# format = "[${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)"
format = "[${symbol}${pyenv_prefix}(${version} )($virtualenv )]($style)"
pyenv_version_name = true
pyenv_prefix = ""   # optional: removes prefix like "pyenv "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[swift]
symbol = " "

[zig]
symbol = " "

[gradle]
symbol = " "
